body {
  background-color: #42022e;
}

.ui.topmenu {
  background-color: #42022e;
  border: none;
  box-shadow: none;
}


.ui.container {
  padding: 40px 40px 40px 40px;
  width: 100%;
}

.ui.container .logo-container {
  padding: 0;
  height: 40px;
  margin-right: 32px;
}

.ui.list {
  margin-left: 40px;
  font-size: 1.8rem;
}

.ui.container .topmenu-text {
  color: white;
  font-size: 1.35rem;
  padding-left: 16px;
  padding-right: 18px;
  padding-top: 12px;
}

.ui.container .arrow-right {
  padding: 0;
  margin-left: -10px;
}

.middle-grid {
  height: 665px;
}

.middle-text-1 h2 {
  color: white;
  font-size: 3.8rem;
  line-height: 120%;
}

.middle-text-2 p {
  color: white;
  opacity: 0.7;
}

.footer-background {
  background-color: white;
  height: 500px;
  padding-top: 110px;
}

.footer-text-header {
  color: #939598;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.footer-text-element {
  padding-top: 25px;
  font-size: 1.3rem;
  color: #455360;
}

.ui.footer-list {
  border: none;
  box-shadow: none;
  padding-top: 90px;
  padding-left: 40px;
  margin: 0;
}

.ui.list .footer-icon {
  padding-top: 10px;
  margin: 0;
  vertical-align: top;
}
